@charset "UTF-8";
@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Black.eot");
  src: url("./fonts/Pretendard-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Black.woff2") format("woff2"), url("./fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-ExtraBold.eot");
  src: url("./fonts/Pretendard-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-ExtraBold.woff2") format("woff2"), url("./fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Bold.eot");
  src: url("./fonts/Pretendard-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Bold.woff2") format("woff2"), url("./fonts/Pretendard-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Light.eot");
  src: url("./fonts/Pretendard-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Light.woff2") format("woff2"), url("./fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Medium.eot");
  src: url("./fonts/Pretendard-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Medium.woff2") format("woff2"), url("./fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-ExtraLight.eot");
  src: url("./fonts/Pretendard-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-ExtraLight.woff2") format("woff2"), url("./fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Thin.eot");
  src: url("./fonts/Pretendard-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Thin.woff2") format("woff2"), url("./fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Regular.eot");
  src: url("./fonts/Pretendard-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Regular.woff2") format("woff2"), url("./fonts/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-SemiBold.eot");
  src: url("./fonts/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-SemiBold.woff2") format("woff2"), url("./fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Bold.eot");
  src: url("./fonts/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Bold.woff2") format("woff2"), url("./fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-BlackItalic.eot");
  src: url("./fonts/NunitoSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-BlackItalic.woff2") format("woff2"), url("./fonts/NunitoSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Black.eot");
  src: url("./fonts/NunitoSans-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Black.woff2") format("woff2"), url("./fonts/NunitoSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-ExtraBoldItalic.eot");
  src: url("./fonts/NunitoSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-ExtraBoldItalic.woff2") format("woff2"), url("./fonts/NunitoSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-ExtraBold.eot");
  src: url("./fonts/NunitoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-ExtraBold.woff2") format("woff2"), url("./fonts/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-ExtraLight.eot");
  src: url("./fonts/NunitoSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-ExtraLight.woff2") format("woff2"), url("./fonts/NunitoSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-ExtraLightItalic.eot");
  src: url("./fonts/NunitoSans-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-ExtraLightItalic.woff2") format("woff2"), url("./fonts/NunitoSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-BoldItalic.eot");
  src: url("./fonts/NunitoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-BoldItalic.woff2") format("woff2"), url("./fonts/NunitoSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Italic.eot");
  src: url("./fonts/NunitoSans-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Italic.woff2") format("woff2"), url("./fonts/NunitoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Regular.eot");
  src: url("./fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Regular.woff2") format("woff2"), url("./fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-LightItalic.eot");
  src: url("./fonts/NunitoSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-LightItalic.woff2") format("woff2"), url("./fonts/NunitoSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Light.eot");
  src: url("./fonts/NunitoSans-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Light.woff2") format("woff2"), url("./fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-SemiBoldItalic.eot");
  src: url("./fonts/NunitoSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-SemiBoldItalic.woff2") format("woff2"), url("./fonts/NunitoSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-SemiBold.eot");
  src: url("./fonts/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-SemiBold.woff2") format("woff2"), url("./fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumGothic';
  src: url("./fonts/NanumGothic.eot");
  src: local(※), url("./fonts/NanumGothic.eot?#iefix") format(‘embedded-opentype’), url("./fonts/NanumGothic.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body, div, a, li, p {
  color: #333333;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

::placeholder {
  color: #999999;
  font-size: 16px;
}

.btn {
  padding: 20px;
  font-weight: bold;
}

body {
  font-family: "Pretendard";
}

.page_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.page_container .content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 60px 0;
}

.page_container .content_inner {
  display: flex;
  flex: auto;
}

body.no-nav .content_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.no-nav .no_nav_header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body.has-nav .main_header {
  background-color: #333333;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body.has-nav .main_header .logo {
  padding: 15px 0;
}

body.has-nav .main_header .logo img {
  max-width: 65%;
}

body.has-nav .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body.has-nav .navigation ul a {
  font-size: 16px;
  color: #999;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.2em;
  transition: all 0.3s;
}

body.has-nav .navigation ul a:after {
  content: '';
  border-right: 1px solid #555;
  height: 15px;
  position: absolute;
  right: 0px;
  top: auto;
  width: 1px;
  display: flex;
}

body.has-nav .navigation ul li.active a, body.has-nav .navigation ul a:hover {
  color: #fff;
}

body.has-nav .navigation ul li:last-child a:after {
  content: none;
}

body.has-nav .side_widget .profile {
  display: flex;
}

body.has-nav .side_widget .profile .photo {
  margin-right: 10px;
}

body.has-nav .side_widget .profile .name {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.main_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8f8f8;
}

.main_footer .logo {
  width: 100px;
  margin-right: 20px;
}

.main_footer .logo img {
  max-width: 90px;
}

.main_footer .copyright {
  flex: auto;
  display: flex;
  align-items: center;
}

.main_footer .copyright p, .main_footer .copyright span {
  font-size: 14px;
  color: #999;
}

.main_footer .copyright p {
  padding-right: 14px;
  position: relative;
  display: flex;
  align-items: center;
}

.main_footer .copyright p:after {
  content: '';
  border-right: 1px solid #aaa;
  height: 14px;
  width: 1px;
  display: flex;
  justify-content: right;
  padding-left: 12px;
}

.main_footer .menu {
  width: 280px;
}

.main_footer .menu ul {
  display: flex;
  justify-content: flex-end;
}

.main_footer .menu a {
  font-size: 14px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.main_footer .menu a:after {
  content: '';
  border-right: 1px solid #555;
  height: 12px;
  width: 1px;
  display: flex;
  justify-content: right;
  padding-left: 8px;
}

.main_footer .menu a:hover {
  text-decoration: underline;
}

.main_footer .menu li:last-child a:after {
  content: none;
}

body.has-nav .content .side_navi {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 20px;
  border-right: solid 1px #ddd;
}

body.has-nav .content .side_navi > div {
  width: 100%;
  max-width: 190px;
}

body.has-nav .content .side_navi .menu_middle {
  margin-top: 40px;
}

body.has-nav .content .side_navi .name {
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 2px #333333;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

body.has-nav .content .side_navi ul {
  display: flex;
  flex-direction: column;
}

body.has-nav .content .side_navi ul li a {
  font-size: 15px;
  color: #666;
  padding: 15px 20px 15px 0;
  display: flex;
  position: relative;
  border-bottom: solid 1px #eaeaea;
  line-height: 1.3em;
  align-items: center;
  transition: all 0.3s;
}

body.has-nav .content .side_navi ul li a:after {
  content: '';
  background-image: url("../img/arrow_side_g.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  width: 11px;
  height: 11px;
  display: flex;
}

body.has-nav .content .side_navi ul li.active a, body.has-nav .content .side_navi ul li:hover a {
  color: #1a73c4;
}

body.has-nav .content .side_navi ul li.active a:after, body.has-nav .content .side_navi ul li:hover a:after {
  background-image: url("../img/arrow_side_b.png");
}

body.has-nav .content .side_navi ul li.active a {
  font-weight: bold;
}

.login_wrapper .title {
  color: #333333;
  border-bottom: solid 2px #000000;
  padding-bottom: 30px;
  text-align: left;
}

.login_wrapper .title h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
}

.login_wrapper .title p {
  font-size: 16px;
  font-style: normal;
}

.login_wrapper .login_form {
  padding: 50px 0;
}

.login_wrapper .login_form .login_container {
  display: flex;
}

.login_wrapper .login_form .input_grp {
  display: flex;
  flex-direction: column;
}

.login_wrapper .login_form .input_grp input {
  border: solid 1px #dddddd;
  background-color: #ffffff;
  width: 380px;
  padding: 15px;
  margin-top: 6px;
}

.login_wrapper .login_form .input_grp input:first-child {
  margin-top: 0px;
}

.login_wrapper .login_form .btn_login {
  margin-left: 10px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  color: #fff;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_wrapper .btn_container .link {
  font-size: 16px;
  color: #333333;
  line-height: 1em;
  vertical-align: text-top;
}

.login_wrapper .btn_container .link:after {
  content: '';
  width: 1px;
  border-right: 1px solid #aaa;
  margin-left: 14px;
  margin-right: 10px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
}

.login_wrapper .btn_container .link:last-child:after {
  border: none;
}
