@charset "UTF-8";
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * https://cssdeck.com/blog/
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF;
}

/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Black.eot");
  src: url("./fonts/Pretendard-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Black.woff2") format("woff2"), url("./fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-ExtraBold.eot");
  src: url("./fonts/Pretendard-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-ExtraBold.woff2") format("woff2"), url("./fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Bold.eot");
  src: url("./fonts/Pretendard-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Bold.woff2") format("woff2"), url("./fonts/Pretendard-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Light.eot");
  src: url("./fonts/Pretendard-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Light.woff2") format("woff2"), url("./fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Medium.eot");
  src: url("./fonts/Pretendard-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Medium.woff2") format("woff2"), url("./fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-ExtraLight.eot");
  src: url("./fonts/Pretendard-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-ExtraLight.woff2") format("woff2"), url("./fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Thin.eot");
  src: url("./fonts/Pretendard-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Thin.woff2") format("woff2"), url("./fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-Regular.eot");
  src: url("./fonts/Pretendard-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-Regular.woff2") format("woff2"), url("./fonts/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url("./fonts/Pretendard-SemiBold.eot");
  src: url("./fonts/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Pretendard-SemiBold.woff2") format("woff2"), url("./fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Bold.eot");
  src: url("./fonts/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Bold.woff2") format("woff2"), url("./fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-BlackItalic.eot");
  src: url("./fonts/NunitoSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-BlackItalic.woff2") format("woff2"), url("./fonts/NunitoSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Black.eot");
  src: url("./fonts/NunitoSans-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Black.woff2") format("woff2"), url("./fonts/NunitoSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-ExtraBoldItalic.eot");
  src: url("./fonts/NunitoSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-ExtraBoldItalic.woff2") format("woff2"), url("./fonts/NunitoSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-ExtraBold.eot");
  src: url("./fonts/NunitoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-ExtraBold.woff2") format("woff2"), url("./fonts/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-ExtraLight.eot");
  src: url("./fonts/NunitoSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-ExtraLight.woff2") format("woff2"), url("./fonts/NunitoSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-ExtraLightItalic.eot");
  src: url("./fonts/NunitoSans-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-ExtraLightItalic.woff2") format("woff2"), url("./fonts/NunitoSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-BoldItalic.eot");
  src: url("./fonts/NunitoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-BoldItalic.woff2") format("woff2"), url("./fonts/NunitoSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Italic.eot");
  src: url("./fonts/NunitoSans-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Italic.woff2") format("woff2"), url("./fonts/NunitoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Regular.eot");
  src: url("./fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Regular.woff2") format("woff2"), url("./fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-LightItalic.eot");
  src: url("./fonts/NunitoSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-LightItalic.woff2") format("woff2"), url("./fonts/NunitoSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-Light.eot");
  src: url("./fonts/NunitoSans-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-Light.woff2") format("woff2"), url("./fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-SemiBoldItalic.eot");
  src: url("./fonts/NunitoSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-SemiBoldItalic.woff2") format("woff2"), url("./fonts/NunitoSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("./fonts/NunitoSans-SemiBold.eot");
  src: url("./fonts/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/NunitoSans-SemiBold.woff2") format("woff2"), url("./fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumGothic';
  src: url("./fonts/NanumGothic.eot");
  src: local(※), url("./fonts/NanumGothic.eot?#iefix") format(‘embedded-opentype’), url("./fonts/NanumGothic.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body, div, a, li, p {
  color: #333333;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

::placeholder {
  color: #999999;
  font-size: 16px;
}

.btn {
  padding: 20px;
  font-weight: bold;
}

body {
  font-family: "Nunito Sans";
}

body .overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}

header li {
  position: relative;
}

header li .lang {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 100%;
  box-sizing: border-box;
}

header li .lang select {
  position: relative;
  top: 1px;
  display: inline-block;
  border: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  font-family: "Nunito Sans";
  font-size: 11px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

header li .lang select option {
  color: black;
}

header .gnb-toggle-btn {
  position: absolute;
  z-index: 10;
  top: 24px;
  right: 18px;
  display: inline-block;
  width: 22px;
  height: 18px;
}

header .gnb-toggle-btn.close {
  top: 24px;
  right: 20px;
}

header .gnb-toggle-btn.close:before, header .gnb-toggle-btn.close:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 50%;
  right: 0;
  border-radius: 1.5px;
  background-color: white;
}

header .gnb-toggle-btn.close:before {
  transform: translateY(-50%) rotate(-45deg);
}

header .gnb-toggle-btn.close:after {
  transform: translateY(-50%) rotate(45deg);
}

header .gnb-toggle-btn:before, header .gnb-toggle-btn:after {
  position: absolute;
  display: block;
  height: 2px;
  right: 0;
  border-radius: 1px;
  background-color: white;
}

header .gnb-toggle-btn:before {
  content: '';
  width: 100%;
  top: 0;
}

header .gnb-toggle-btn:after {
  content: '';
  width: 18px;
  bottom: 0;
}

header .gnb-toggle-btn span {
  position: absolute;
  display: block;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  width: 15px;
  top: calc( 50% - 1px);
  right: 0;
}

header .logo img {
  height: 100%;
}

header .m-inner {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: 10px 10px;
  box-sizing: border-box;
  z-index: 3;
  display: none;
}

header .m-inner .logo {
  position: absolute;
  top: 14px;
  left: 30px;
}

header .m-inner .logo img {
  height: 36px;
}

header .inner {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: 10px 25px;
  box-sizing: border-box;
  display: flex;
  z-index: 50;
  justify-content: space-between;
}

header .inner .wrap-box {
  max-width: 1920px;
  width: 100%;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .inner .gnb-toggle-btn {
  display: none;
}

header .inner .logo, header .inner #gnb, header .inner .right-menu {
  display: flex;
}

header .inner .logo {
  align-items: center;
}

header .inner .logo img {
  height: 70px;
}

header .inner #gnb > ul li {
  margin-right: 25px;
}

header .inner #gnb > ul li:last-child {
  margin-right: 0px;
}

header .inner #gnb ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner #gnb ul li a {
  color: #ffff;
  font-size: 24px;
  font-family: "Pretendard";
  line-height: 1;
}

header .inner .right-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner .right-menu ul li {
  width: 30px;
  margin-right: 15px;
}

header .inner .right-menu ul li:last-child {
  margin-right: 0px;
}

header .inner .right-menu ul li a {
  line-height: 1;
}

header .inner .right-menu ul li a img.logout {
  width: 95%;
  height: 95%;
}

header .inner .bottom-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  header .m-inner {
    display: flex;
    justify-content: space-between;
  }
  header .inner {
    width: 80%;
    height: 100vh;
    top: 0;
    padding-left: 32px;
    right: -100%;
    box-sizing: border-box;
    transition: .3s;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0 15px 30px 0 rgba(28, 0, 60, 0.35);
    flex-direction: column;
    justify-content: flex-start;
  }
  header .inner.on {
    right: 0;
  }
  header .inner .wrap-box {
    flex-direction: column;
    justify-content: flex-start;
  }
  header .inner .gnb-toggle-btn {
    display: inline-block;
  }
  header .inner .logo {
    position: relative;
    top: 14px;
  }
  header .inner #gnb ul {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 48px;
  }
  header .inner #gnb ul li {
    margin-bottom: 10px;
  }
  header .inner #gnb ul li a {
    font-size: 20px;
  }
  header .inner .right-menu {
    display: none;
  }
  header .inner .bottom-menu {
    display: flex;
  }
}

.main-banner {
  background-color: #000000;
  height: 80vh;
  background-image: url("../img/img-main@3x.png");
  background-size: cover;
  background-position: center top;
}

.main-banner img {
  opacity: .3;
}

.login_wrapper .title {
  color: #333333;
  border-bottom: solid 2px #000000;
  padding-bottom: 30px;
  text-align: left;
}

.login_wrapper .title h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
}

.login_wrapper .title p {
  font-size: 16px;
  font-style: normal;
}

.login_wrapper .login_form {
  padding: 50px 0;
}

.login_wrapper .login_form .login_container {
  display: flex;
}

.login_wrapper .login_form .input_grp {
  display: flex;
  flex-direction: column;
}

.login_wrapper .login_form .input_grp input {
  border: solid 1px #dddddd;
  background-color: #ffffff;
  width: 380px;
  padding: 15px;
  margin-top: 6px;
}

.login_wrapper .login_form .input_grp input:first-child {
  margin-top: 0px;
}

.login_wrapper .login_form .btn_login {
  margin-left: 10px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  color: #fff;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_wrapper .btn_container .link {
  font-size: 16px;
  color: #333333;
  line-height: 1em;
  vertical-align: text-top;
}

.login_wrapper .btn_container .link:after {
  content: '';
  width: 1px;
  border-right: 1px solid #aaa;
  margin-left: 14px;
  margin-right: 10px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
}

.login_wrapper .btn_container .link:last-child:after {
  border: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-progressbar-fill {
  transition-timing-function: linear;
}

.main-contents {
  font-family: "Pretendard";
}

.main-contents section {
  margin-top: 90px;
  border-bottom: 1px solid #ddd;
}

.main-contents section.news {
  margin-top: 125px;
}

.main-contents section.news .title-area {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.main-contents section.news .title-area > h2 {
  display: block;
  font-size: 36px;
  font-weight: bold;
}

.main-contents section.news .title-area > .subtxt {
  margin-top: 16px;
  font-size: 18px;
}

.main-contents section.news .inner {
  margin-top: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-contents section.news .inner .new-items {
  display: flex;
  justify-content: space-between;
  width: calc( 50% - 50px);
  min-height: 140px;
  margin-bottom: 60px;
}

.main-contents section.news .inner .new-items .img-box {
  width: 140px;
  height: 140px;
}

.main-contents section.news .inner .new-items .img-box img {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}

.main-contents section.news .inner .new-items .txt-area {
  width: calc( 100% - 170px);
}

.main-contents section.news .inner .new-items .txt-area h3 {
  font-size: 24px;
  letter-spacing: -0.72px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-contents section.news .inner .new-items .txt-area p {
  margin-top: 12px;
  color: #54575d;
}

.main-contents section.news .inner .new-items .txt-area .date {
  margin-top: 18px;
  font-size: 14px;
  color: #9ba0a8;
}

.main-contents section.middle-banner {
  margin-top: 120px;
  border-bottom: 0;
}

.main-contents section.middle-banner .inner {
  justify-content: space-between;
}

.main-contents section.middle-banner .inner .banner-items {
  display: flex;
  width: calc( 50% - 10px);
  min-height: 260px;
  border-radius: 12px;
  background-color: #ededfd;
  background-repeat: no-repeat;
  background-size: 26%;
}

.main-contents section.middle-banner .inner .banner-items:nth-child(1) {
  background-image: url("../img/banner-pd-note-img@3x.png");
  background-position: calc( 100% - 40px) calc( 100% - 50px);
  background-size: 30%;
}

.main-contents section.middle-banner .inner .banner-items:nth-child(2) {
  background-color: #fdf4ff;
  background-image: url("../img/banner-bts-cloth-img@3x.png");
  background-position: calc( 100% - 40px) calc( 100% - 53.3px);
}

.main-contents section.middle-banner .inner .banner-items:nth-child(2) .text-item h4 {
  color: #4d005d;
}

.main-contents section.middle-banner .inner .banner-items:nth-child(2) .text-item .title {
  color: #7f0198;
}

.main-contents section.middle-banner .inner .banner-items:nth-child(2) .text-item .desc {
  color: #360041;
}

.main-contents section.middle-banner .inner .banner-items a {
  position: relative;
  height: 100%;
  display: block;
}

.main-contents section.middle-banner .inner .banner-items .text-item {
  padding: 50px 280px 50px 50px;
}

.main-contents section.middle-banner .inner .banner-items .text-item h4 {
  font-size: 18px;
  font-weight: bold;
  color: #2e0064;
}

.main-contents section.middle-banner .inner .banner-items .text-item .title {
  margin-top: 8px;
  font-size: 26px;
  font-weight: bold;
  color: #803ad3;
}

.main-contents section.middle-banner .inner .banner-items .text-item .desc {
  margin-top: 20px;
  color: #39007c;
}

.main-contents section.magazine {
  border-bottom: 0;
}

.main-contents section .inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.main-contents section .inner .box-title {
  position: relative;
  min-height: 490px;
}

.main-contents section .inner .box-title:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 110px;
  height: 1px;
  background: white;
  bottom: -1px;
  right: 0;
}

.main-contents section .inner .box-title .box-inner {
  width: 160px;
  margin-right: 110px;
}

.main-contents section .inner .box-title .box-inner .title {
  font-size: 22px;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  white-space: nowrap;
}

.main-contents section .inner .box-title .box-inner p {
  margin: 30px 0;
  font-weight: 400;
}

.main-contents section .inner .box-title .box-inner a img {
  width: 31px;
}

.main-contents section .inner .box-items-wrap {
  flex-grow: 1;
}

.main-contents section .inner .box-items-wrap .inner {
  display: flex;
}

.main-contents section .inner .box-items-wrap .inner .items {
  position: relative;
  flex-basis: 260px;
  flex-grow: 1;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner {
  margin-right: 60px;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-a {
  background-image: url("../img/img-baloon1@3x.png"), url("../img/img-baloon-arrow@3x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, calc( 50% - 25px) 227px;
  background-size: 100%, 18%;
  height: 100%;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-a .title {
  font-size: 30px;
  font-weight: 800;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-a .title .icon {
  position: relative;
  display: inline-block;
  top: 6px;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-a .title .icon.new {
  width: 39px;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-a .title .icon.new img {
  width: 100%;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-a .title .time {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-a .charactor-img {
  display: inline-block;
  position: absolute;
  width: auto;
  height: 180px;
  bottom: 90px;
  right: 60px;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-a p {
  margin-top: 21px;
  padding: 0 20px;
  font-size: 14px;
  color: #000000;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-b .thumb {
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-b .title {
  margin-top: 36px;
  font-size: 30px;
  font-weight: 800;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-b .title + .spec {
  margin-top: 20px;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-b .title span, .main-contents section .inner .box-items-wrap .inner .items .items-inner.type-b .title p {
  line-height: 1;
  display: block;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-b .title .vol {
  font-size: 18px;
  color: #bc83ff;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-b .title .name {
  margin: 8px 0 0;
  padding: 0;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner.type-b .title .date {
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.main-contents section .inner .box-items-wrap .inner .items .items-inner .thumb img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .main-contents section {
    padding: 0 20px;
  }
  .main-contents section.middle-banner .inner {
    flex-direction: column;
  }
  .main-contents section.middle-banner .inner .banner-items {
    width: 100%;
  }
  .main-contents section.middle-banner .inner .banner-items:nth-child(1) {
    background-size: auto 60%;
    background-position: calc( 100% - 40px) center;
  }
  .main-contents section.middle-banner .inner .banner-items:nth-child(2) {
    margin-top: 30px;
    background-size: auto 60%;
    background-position: calc( 100% - 40px) center;
  }
}

@media screen and (max-width: 680px) {
  .main-contents section.middle-banner .inner .banner-items:nth-child(1) {
    background-size: auto 150px;
    background-position: center 50px;
  }
  .main-contents section.middle-banner .inner .banner-items:nth-child(2) {
    margin-top: 30px;
    background-size: auto 150px;
    background-position: center 50px;
  }
  .main-contents section.middle-banner .inner .banner-items .text-item {
    padding: 250px 50px 50px;
  }
}

@media screen and (max-width: 420px) {
  .main-contents section.middle-banner .inner .banner-items .text-item .title br {
    display: none;
  }
  .main-contents section.middle-banner .inner .banner-items .text-item .desc br {
    display: none;
  }
}
