.footer {
  background-color: #000000;
  min-height: 212px;
  padding: 50px;

  p,
  li {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.79;
    font-size: 14px;
  }
  ul {
    overflow: hidden;
    li {
      position: relative;
      float: left;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 15px;
        right: -20.5px;
        top: 50%;
        background-color: #707070;
        transform: translateY(-50%);
      }
    }
  }
  a {
    color: white;
    font-size: 14px;
  }
  .inner {
    position: relative;
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    .footer-info {
      .logo-group {
        h1 {
          overflow: hidden;
          a {
            position: relative;
            display: flex;
            align-items: center;
            float: left;
            display: inline-block;
            height: 20px;
            & + a {
              margin-left: 30px;
              top: -3px;
            }
            img {
              width: auto;
              height: 18px;
              opacity: 0.4;
            }
            &:nth-child(2) {
              img {
                height: 20px;
              }
            }
          }
        }
      } //logo-group
      .sitemenu {
        margin-top: 20px;
        overflow: hidden;
        li {
          position: relative;
          &:before {
            background-color: #707070;
          }
        }
      } //sitemenu
      p {
        margin-top: 15px;
      }
      .info {
        margin-top: 7px;
        li {
          &:before {
            background-color: #707070;
          }
        }
      }
    } //footer-info
    .sns {
      position: absolute;
      right: 0px;
      bottom: 0px;
      ul {
        li {
          display: flex;
          align-items: center;
          height: 30px;
          &:after {
            display: none;
          }
        }
      }
    } //sns
  }
}

// mobile
@media screen and (max-width: 1250px) {
  .footer {
    .inner {
      flex-direction: column;
      .sns {
        position: relative;
        right: auto;
        bottom: auto;
        margin-top: 20px;
      }
    }
  }
}
